<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142828580500-4pht1o2u915vjqkqrmj22df1s9otd5ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142828580500-4pht1o2u915vjqkqrmj22df1s9otd5ok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142828580500-9e7nhiqtkcola728o9hqq27d8epfgf0k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-5yDG9k8UVYnQSOqpIEexVmfhLfmfcB0</string>
	<key>GCM_SENDER_ID</key>
	<string>142828580500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mvrc.viewApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>viewjpcp</string>
	<key>STORAGE_BUCKET</key>
	<string>viewjpcp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142828580500:ios:295e36977f9084e0dfce81</string>
</dict>
</plist>